<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default title{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% block stylesheets %}
    {% endblock %}
</head>
{# <body class="hold-transition sidebar-mini layout-fixed"> #}
<body class="layout-fixed custom-content-wrapper d-flex flex-column min-vh-100">
{% block navbar %}
    <nav class="navbar navbar-expand navbar-white navbar-light">
        <div class="container-fluid">
            <a href="{{ path('main_page') }}">
                <button class="btn btn-sm btn-light text-nowrap mr-1">Main page</button>
            </a>
            <form action="{{ path('search_books') }}" method="get" class="d-flex align-items-center w-50">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar z-0" type="search" placeholder="Search"
                           aria-label="Search" name="query">
                    <div class="input-group-append">
                        <button class="btn btn-navbar z-0" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <div class="d-flex align-items-center justify-content-end">
                    <div class="position-relative ml-2 mr-2">
                        <div class="dropdown">
                            <!-- Trigger for the dropdown menu -->
                            <a href="#" class="dropdown-toggle d-flex align-items-center text-dark" role="button"
                               id="dropdownCartLink"
                               data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="d-flex align-items-center flex-row-reverse">
                                    {% if app.user.cart.cartItems|length > 0 %}
                                        <span class="badge badge-danger navbar-badge rounded-circle cart-badge ml-2">
                                            {{ app.user.cart.cartItems|length }}
                                        </span>
                                    {% endif %}
                                    <i class="fas fa-shopping-cart"></i>
                                </div>
                            </a>
                            <!-- Dropdown Menu -->
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm-end" aria-labelledby="dropdownCartLink">
                                <a class="dropdown-item small" href="{{ path('app_cart_cart') }}">View cart</a>
                                <a class="dropdown-item small" href="{{ path('app_cart_clear_cart') }}">Clear cart</a>
                            </div>
                        </div>
                    </div>
{#                    <span class="mr-2 my-auto text-nowrap"><a#}
{#                                href="{{ path('app_user_profile') }}">{{ app.user.email }}</a></span>#}
{#                    <a href="{{ path('app_logout') }}">#}
{#                        <button class="btn btn-sm btn-info mr-0">Logout</button>#}
{#                    </a>#}
                    <div class="dropdown ml-3">
                        <!-- Trigger for the dropdown menu -->
                        <a href="#" class="dropdown-toggle d-flex align-items-center text-dark" role="button"
                           id="dropdownProfileLink"
                           data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="d-flex align-items-center flex-row-reverse">
                                <i class="fas fa-user text-black"></i>
                            </div>
                        </a>
                        <!-- Dropdown Menu -->
                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm-end" aria-labelledby="dropdownProfileLink">
                            <a class="dropdown-item small" href="{{ path('app_user_profile') }}">My profile</a>
                            <a class="dropdown-item small" href="{{ path('app_order_view_orders') }}">My orders</a>
                            <a class="dropdown-item small" href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="dropdown ml-3">
                    <!-- Trigger for the dropdown menu -->
                    <a href="#" class="dropdown-toggle d-flex align-items-center text-dark" role="button"
                       id="dropdownProfileLink"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div class="d-flex align-items-center flex-row-reverse">
                            <i class="fas fa-user text-black"></i>
                        </div>
                    </a>
                    <!-- Dropdown Menu -->
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-sm-end" aria-labelledby="dropdownProfileLink">
                        <a class="dropdown-item small" href="{{ path('app_login') }}">Login</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </nav>
{% endblock %}

{# <aside class="main-sidebar sidebar-dark-primary elevation-4"> #}
{#    <div class="sidebar"> #}
{#        <nav class="mt-2"> #}
{#            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false"> #}

{#            </ul> #}
{#        </nav> #}
{#    </div> #}
{# </aside> #}
{# <div class="content-wrapper"> #}
<div class="flex-grow-1">
    {% block body %}{% endblock %}
</div>
{# </div> #}
<footer class="modal-footer d-flex justify-content-center align-items-center">
    <div>
        <strong>Version </strong>1.0.0.
        <strong>Copyright &copy; {{ "now"|date("Y") }} Slava Enterprises.</strong>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>
<script>
    function getBootstrapBreakpointValue(breakpoint) {
        const value = getComputedStyle(document.documentElement).getPropertyValue(`--breakpoint-${breakpoint}`);
        return parseInt(value, 10);
    }

    function updateBodyClass() {
        const smBreakpoint = getBootstrapBreakpointValue('sm');
        const mdBreakpoint = getBootstrapBreakpointValue('md');
        const viewportWidth = window.innerWidth;

        if (viewportWidth < smBreakpoint || (viewportWidth >= smBreakpoint && viewportWidth < mdBreakpoint && document.querySelector('.col-sm-12'))) {
            document.body.classList.remove('custom-content-wrapper');
        } else {
            document.body.classList.add('custom-content-wrapper');
        }
    }

    document.addEventListener("DOMContentLoaded", updateBodyClass);
    window.addEventListener("resize", updateBodyClass)
</script>
{% block javascripts %}{% endblock %}
</body>
</html>
