{% extends 'base.html.twig' %}

{% block title %}{{ book.title }} {% endblock %}

{% block body %}
    <div class="container mt-5 mb-3">
        <div class="row">
            <div class="col-md-4 d-flex align-items-center">
                <img src="https://picsum.photos/seed/{{ book.id }}/500/600" class="card-img-top rounded-2"
                     alt="{{ book.title }}">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 d-flex flex-column">
                <div class="mb-3">
                    <h1 class="mb-4">{{ book.title }}</h1>
                    <p class="card-text mb-1"><strong>Author:</strong> {{ book.author.fullName }}</p>
                    <p class="card-text mb-1"><strong>ISBN:</strong> {{ book.isbn }}</p>
                    <p class="card-text mb-1"><strong>Published date:</strong> {{ book.publishedDate.format('Y-m-d') }}
                    </p>
                    <p class="card-text mb-1"><strong>Genre:</strong> {{ book.genre.name }}</p>
                    <p class="card-text"><strong>Price:</strong> {{ book.price ~ ' Kč' }}</p>
                    <p class="card-text">{{ book.description }}</p>
                </div>
                <div class="mt-auto">
                    <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}