{% extends 'base.html.twig' %}

{% block title %}Change password{% endblock %}

{% block body %}
    <div class="row">
        <div class="justify-content-center align-items-center">
            <div class="d-flex flex-column justify-content-center align-items-center mb-4">
                <h1 class="text-nowrap">My profile</h1>
            </div>
            <div class="card card-light">
                <div class="card-header">
                    <h3 class="card-title">Profile information</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                    <div class="row mb-2">
                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-5 mt-1">
                            {{ form_label(form.password, "New password:") }}
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ form_widget(form.password) }}
                                {{ form_errors(form.password) }}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 col-5 mt-1">
                            {{ form_label(form.confirmPassword, "Confirm password:") }}
                        </div>
                        <div class="col">
                            <div class="form-group">
                                {{ form_widget(form.confirmPassword) }}
                                {{ form_errors(form.confirmPassword) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                    <a href="{{ path('app_user_profile') }}" class="btn btn-light border border-dark-subtle">Cancel</a>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}