{% extends 'base.html.twig' %}
{% block title %}Symfony bookstore{% endblock %}

{% block body %}
    <div class="container-fluid">
        {% if no_result is defined and no_result is same as true %}
            <div class="alert bg-warning-subtle text-dark mr-2" role="alert">
                <p class="mb-0">No books found matching your criteria. Showing all books.</p>
            </div>
        {% elseif no_result is defined and no_result is same as false %}
            <div class="alert bg-info-subtle text-dark mr-2" role="alert">
                <p class="mb-0">Found <strong>{{ books|length }}</strong> {{ books|length == 1 ? 'book' : 'books' }}
                    matching your criteria.</p>
            </div>
        {% endif %}
        <div class="row">
            {% for book in books %}
                <div class="col-lg-3 col-md-4 col-sm-12 mb-4">
                    <div class="card custom-card h-100 shadow-sm mr-2">
                        <a href="{{ path('book_resource', {'id': book.id}) }}">
                            <img src="https://picsum.photos/seed/{{ book.id }}/500/600" class="card-img-top"
                                 alt="{{ book.title }}">
                        </a>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title text-sm text-bold text-center">{{ book.title|length > 30 ? book.title|slice(0, 27) ~ '...' : book.title }}</h5>
                            <div class="flex-grow-1 d-flex flex-column justify-content-end">
                                <!-- This div will grow to take available space -->
                                <p class="card-text text-sm mb-2 text-center">{{ book.author.fullName }}</p>
                                <p class="card-text text-sm text-center text-bold">{{ book.displayPrice ~ ' ' ~ book.currency.code }}</p>
                                <a href="#" class="btn-primary btn">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}